.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: rgb(243, 192, 96);
    border-radius: 5px;
    
}

.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
/* .list p button{
    position: absolute;
    right: 10px;
    background-color:rgba(202, 156, 24, 1); 
    border-radius: 5px;
} */
li.list-group-item.note-item{
    background-color:rgba(202, 156, 24, 1);
    border-radius: 5px;
   

} 
.note{
    display:flex
}
button.btn.btn-primary.form-btn {
    background-color: rgba(27, 112, 137, 1);

}
